<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkGrayColor</key>
	<string>#a9a9a9</string>
	<key>darkViewColor</key>
	<string>#000000</string>
	<key>lightViewColor</key>
	<string>#FFFFFF</string>
	<key>versions</key>
	<string>1.3.2</string>
	<key>facebookfs</key>
	<string>com.immortals.tw</string>
	<key>fbappid</key>
	<string>434430780481846</string>
	<key>fbpageid</key>
	<string>107228963954619</string>
	<key>proaccBtnColor</key>
	<string>#FF9F00</string>
	<key>markH</key>
	<string>330</string>
	<key>promptH</key>
	<string>230</string>
	<key>ja</key>
	<string>https://dl03.gm88.com/terms/privacy_ja.html</string>
	<key>cn</key>
	<string>https://dl03.gm88.com/terms/privacy_tw.html</string>
	<key>en</key>
	<string>https://dl03.gm88.com/terms/privacy_es.html</string>
	<key>privacyagreement</key>
	<string>https://dl03.gm88.com/terms/privacy_ko.html</string>
	<key>useragreement</key>
	<string>https://dl03.gm88.com/terms/terms_ko.html</string>
	<key>bgcontroW</key>
	<string>333</string>
	<key>bgcontroH</key>
	<string>280</string>
	<key>bgcontroHN</key>
	<string>480</string>
	<key>facebookx</key>
	<string>23</string>
	<key>facebooky</key>
	<string>178.5</string>
	<key>facebookw</key>
	<string>130</string>
	<key>facebookh</key>
	<string>44</string>
	<key>linex</key>
	<string>180.5</string>
	<key>liney</key>
	<string>101.5</string>
	<key>linew</key>
	<string>130</string>
	<key>lineh</key>
	<string>44</string>
	<key>googlex</key>
	<string>23</string>
	<key>googley</key>
	<string>101.5</string>
	<key>googlew</key>
	<string>130</string>
	<key>googleh</key>
	<string>44</string>
	<key>visitorx</key>
	<string>180.5</string>
	<key>visitory</key>
	<string>178.5</string>
	<key>visitorw</key>
	<string>130</string>
	<key>visitorh</key>
	<string>44</string>
	<key>bgcontroColor</key>
	<string>#ffffff</string>
	<key>bgcontroheadtitleColor</key>
	<string>#000000</string>
	<key>bgcontroheadlineColor</key>
	<string>#eeeeee</string>
	<key>bgradio</key>
	<string>8</string>
	<key>bgAlpha</key>
	<string>0</string>
	<key>promptbgAlpha</key>
	<string>0</string>
	<key>promotline</key>
	<string>1</string>
	<key>LineShow</key>
	<string>1</string>
	<key>btnImgradio</key>
	<string>10</string>
	<key>btntitleColor</key>
	<string>#000000</string>
	<key>promotradio</key>
	<string>8</string>
	<key>promotbtnradio</key>
	<string>8</string>
	<key>promotheadtitleColor</key>
	<string>#000000</string>
	<key>promotcontentitleColor</key>
	<string>#000000</string>
	<key>promotYescolor</key>
	<string>#FF9F00</string>
	<key>promotNocolor</key>
	<string>#FF9F00</string>
	<key>facebookxn</key>
	<string>199</string>
	<key>facebookyn</key>
	<string>386</string>
	<key>facebookwn</key>
	<string>42</string>
	<key>facebookhn</key>
	<string>57</string>
	<key>linexn</key>
	<string>142</string>
	<key>lineyn</key>
	<string>386</string>
	<key>linewn</key>
	<string>42</string>
	<key>linehn</key>
	<string>57</string>
	<key>googlexn</key>
	<string>85</string>
	<key>googleyn</key>
	<string>386</string>
	<key>googlewn</key>
	<string>42</string>
	<key>googlehn</key>
	<string>57</string>
	<key>visitorxn</key>
	<string>29</string>
	<key>visitoryn</key>
	<string>386</string>
	<key>visitorwn</key>
	<string>42</string>
	<key>visitorhn</key>
	<string>57</string>
	<key>linetextcolor</key>
	<string>#E0E0E0</string>
	<key>placeholdercolor</key>
	<string>#E0E0E0</string>
	<key>textfieldlinecolor</key>
	<string>#E0E0E0</string>
	<key>textViewBtncolor</key>
	<string>#FF9F00</string>
	<key>textViewBtnTxtcolor</key>
	<string>#ffffff</string>
	<key>textfieldTextcolor</key>
	<string>#000000</string>
	<key>textViewheadcolor</key>
	<string>#000000</string>
	<key>agreemcolor</key>
	<string>#000000</string>
	<key>agreetcolor</key>
	<string>#FF9F00</string>
	<key>linebtncolor</key>
	<string>#FF9F00</string>
	<key>textViewBtnzRadio</key>
	<string>4</string>
	<key>bingcontroHN</key>
	<string>340</string>
	<key>markradio</key>
	<string>5</string>
	<key>markbgColor</key>
	<string>#ffffff</string>
	<key>markbtnradio</key>
	<string>3</string>
	<key>markYescolor</key>
	<string>#ffffff</string>
	<key>markNocolor</key>
	<string>#ffffff</string>
	<key>marktitleColor</key>
	<string>#000000</string>
	<key>markbtnTxtcolor</key>
	<string>#000000</string>
	<key>facebookxa</key>
	<string>186</string>
	<key>facebookya</key>
	<string>0</string>
	<key>facebookwa</key>
	<string>52</string>
	<key>facebookha</key>
	<string>67</string>
	<key>linexa</key>
	<string>124</string>
	<key>lineya</key>
	<string>0</string>
	<key>linewa</key>
	<string>52</string>
	<key>lineha</key>
	<string>67</string>
	<key>googlexa</key>
	<string>62</string>
	<key>googleya</key>
	<string>0</string>
	<key>googlewa</key>
	<string>52</string>
	<key>googleha</key>
	<string>67</string>
	<key>visitorxa</key>
	<string>0</string>
	<key>visitorya</key>
	<string>0</string>
	<key>visitorwa</key>
	<string>52</string>
	<key>visitorha</key>
	<string>67</string>
	<key>accountViewx</key>
	<string>78.5</string>
	<key>accountViewy</key>
	<string>100</string>
	<key>accountVieww</key>
	<string>233</string>
	<key>accountViewh</key>
	<string>67</string>
	<key>accountLViewx</key>
	<string>29</string>
	<key>accountLViewy</key>
	<string>386</string>
	<key>accountLVieww</key>
	<string>213</string>
	<key>accountLViewh</key>
	<string>57</string>
</dict>
</plist>
