<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppLovinSdkKey</key>
	<string>OixDcmXAyNNGd4zM3r-h0fsGvPzKc8k0sfETQmdM80dn4b77R6qSmfif4f-hpiheMw7ogl9plnZqNhyqomGTQz</string>
	<key>client_id</key>
	<string>QTJwWEJMUjdtZjB0Uk1BWGxmd0U6MTpjaQ</string>
	<key>loginType</key>
	<string>2</string>
	<key>requestUrl</key>
	<string></string>
	<key>consumerSecret</key>
	<string>JvP7r4vFKjxwaX1ZIwAbJdBEKiYgfVCJ2oUCi4OxHoVUKESjH6</string>
	<key>ConsumerKey</key>
	<string>gSyovuQFIVxLYyzmedaWK54Nr</string>
	<key>dynamicPage</key>
	<string>https://deeplink.hkpctimes.com/xmj_global.html</string>
	<key>dynamicLink</key>
	<string>https://immortals.page.link</string>
	<key>platAnd</key>
	<string>qwewqewqewq</string>
	<key>channel</key>
	<string>GM</string>
	<key>gameid</key>
	<string>1700</string>
	<key>GGkClientID</key>
	<string>726483388833-nejr29g354f0p3sieg18gmehkhljuerv.apps.googleusercontent.com</string>
	<key>appsFlyerDevKey</key>
	<string>g7ZP9TqQ4S8AF9zeQD9Koe</string>
	<key>appleAppID</key>
	<string>1475870720</string>
	<key>Promote</key>
	<string>17</string>
	<key>rolelevel</key>
	<string>0</string>
	<key>IronsourceAppKey</key>
	<string>bf464905</string>
	<key>issueVersion</key>
	<string>1700049</string>
	<key>iconControl</key>
	<string>1</string>
	<key>admobInit</key>
	<string>1</string>
	<key>preloadad</key>
	<string>0</string>
	<key>sdkVersion</key>
	<string>2.5</string>
	<key>aihelpAppkey</key>
	<string>immortaltaoists_app_a27205882a404d72ad922e33de529173</string>
	<key>aihelpAppId</key>
	<string>immortaltaoists_platform_876a4aebf8baaac87ae098aea0785750</string>
	<key>aihelpDomain</key>
	<string>immortaltaoists.aihelp.net</string>
</dict>
</plist>
